.dashboard {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  overflow: auto;
  /* width: fit-content; */
  /* width: 100%; */
  /* overflow: hidden; */
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  padding: 20px;
  width: 100%;
  margin: 0 auto; /* Centra horizontalmente */
  background: #ecf0f1;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex: 1;
  overflow: auto;
  /* width: 100%; */
  /* width: fit-content; */

  /* height: 100vh; */
}

.card_municipios {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 16px; /* Equivale a p: 2 en MUI (8px * 2) */
  border: 4px solid #216c95;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Aproximado a boxShadow: 3 */
  border-radius: 16px; /* Equivale a borderRadius: 2 (8px * 2) */
}

.card_operador {
  width: 400px;
  height: 210px;
  text-align: center;
  margin: 0 auto;
  padding: 16px; /* p: 2 => 8px * 2 */
  border: 4px solid #216c95;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Equivalente a boxShadow: 3 */
  border-radius: 16px; /* borderRadius: 2 => 8px * 2 */
}

.linea_mes {
  margin-top: 20px;
  margin-left: 40px;
  width: 650px;
  height: 400px;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.radar_entorno {
  margin: 20px auto;

  width: 600px;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.dona_producto {
  margin: 20px auto;

  width: 550px;

  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.radar_check {
  margin: 20px auto;

  max-width: 600px;

  width: 100%;

  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.radar_check_actividad {
  margin: 20px auto;

  /* max-width: 500px;

  width: 100%; */

  width: 550px;

  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.dona_actividad {
  margin: 20px auto;

  /* max-width: 500px;

  width: 100%; */
  width: 550px;

  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.pastel_producto {
  margin: 20px auto;

  max-width: 600px;

  width: 100%;

  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.barra_operador {
  margin-top: 20px;
  margin-left: 20px;
  width: 600px;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.bardouble {
  margin: 20px auto;

  max-width: 600px;
  height: 400px;
  width: 100%;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.barra_poblacion {
  /* max-width: 500px; */
  height: 400px;
  /* width: 100%; */

  width: 550px;
  margin: 20px auto;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
