.dashboard {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  overflow: auto;
  width: fit-content;

  /* overflow: hidden; */
}

.main {
  display: flex;
  flex: 1;
  overflow: auto;
  width: fit-content;
  /* height: 100vh; */
}

.bardouble {
  margin-left: 20px;
  margin-top: 20px;
  width: 600px;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.dona_producto {
  margin-top: 20px;
  margin-left: 40px;
  width: fit-content;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.pastel_producto {
  margin-top: 20px;
  margin-left: 40px;
  width: fit-content;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.barra_operador {
  margin-top: 20px;
  margin-left: 20px;
  width: 600px;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.dona_actividad {
  margin-top: 20px;
  margin-left: 40px;
  width: fit-content;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.radar_entorno {
  margin-top: 20px;
  margin-left: 40px;
  width: 500px;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.barra_poblacion {
  margin-top: 20px;
  margin-left: 20px;
  width: 600px;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.linea_mes {
  margin-top: 20px;
  margin-left: 20px;
  width: 600px;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.radar_check {
  margin-top: 20px;
  margin-left: 20px;
  width: 400px;
  border: 3px solid #216c95;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
